<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.marvellisimo">
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Marvellisimo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/custom_actionbar">
        <activity android:name=".activities.CharacterDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CharactersPageActivity"/>

        </activity>
        <activity
            android:name=".CharactersPageActivity"
            android:label="@string/title_activity_characters_page">

        </activity>
        <activity
            android:name=".activities.ComicDetailsActivity"
            android:label="@string/title_activity_comic_details">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ComicsPageActivity"/>
        </activity>


        <activity android:name=".ComicsPageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.LoginPageActivity" />
        <activity android:name=".activities.SignUpPageActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>