<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.marvellisimo">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Marvellisimo"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:hardwareAccelerated="false"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activities.CharacterDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".CharactersPageActivity"/>
        </activity>

        <activity
            android:name=".CharactersPageActivity"
            android:label="@string/title_activity_characters_page">
        </activity>

        <activity
            android:name=".activities.ComicDetailsActivity"
            android:label="@string/title_activity_comic_details">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ComicsPageActivity"/>
        </activity>

        <activity android:name=".activities.LoginPageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="ComicsPageActivity"
            android:label=".ComicsPageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:name=".activities.SignUpPageActivity" />

        <activity android:name=".activities.SendMessageActivity"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>